@font-face{
  src: url(./fonts/Playlist-Script.ttf);
  font-family: 'playlist';
}

*
{
	font-family: 'playlist';
}

ol, ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

input{
  display: flex;
  border-radius: 5px;
}

 a{
  color: #F5F5F5;
}

.bg-pink{
  background-color: #ffedff;
}
.bg-pastelPink{
  background-color: #ffd1dc;
}
.bg-turquoise{
  background-color: #40e0d0;
}
.bg-smokyWhite{
  background-color: #F5F5F5;
}
.gradient{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(245, 245, 245,1));
}
.banner{
  display: flex;
  background-color: #40e0d0;
  height: 89vh;
  background-image: url("Images/cakeshop.jpg");
 


}
.banner-seperator{
  font-size: 20px;
  color: #F5F5F5;
}

.banner-social-icons ul li{
  margin-top: 4%;
  display: inline-block;
  margin-right: 2px;
  width: 50px;
  height: 50px;
}

.greetings {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.greetings span.greetingsbox {
  color: #fff;
  padding: 18px;
  font-size: 100px;
  letter-spacing: 10px;
}

.greetings span.greetingsboxs {
  color: #fff;
  padding: 18px;
  font-size: 30px;
  letter-spacing: 10px;
}

.navdrop ul li{
  float: left;
  width: 200px;
  height: 80px;
  background-color: #ffd1dc;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  
}
.navdrop ul li {
  text-decoration: none;
  color: #F5F5F5;
  display: block;
 
}

.navdrop ul li:nth-child(3) {
  border-bottom-right-radius:30px;
  border-bottom-left-radius: 30px;
  box-shadow:  0px 2px #000;
}



.navdrop ul li a:hover{
  font-size: 43px;
  transition: 0.2s ease-;
}

.navdrop li ul li{
    display: none;
}

.navdrop li:hover ul li{
  display: block;
}

.navbar-brand{
  margin-left: 10%;
}
.form-inline{
    display: flex;
}
.form-inline input{
  font-size: 20px;
  border-bottom: 2px solid #40e0d0 !important;
  margin-right: 20px;
}
.form-inline input:Focus{
  border-color: #a6a2a6;
  box-shadow:1px 1px 1px 1px #40e0d0;
}
.dropdown-item-text{
	text-decoration: none;
	color: #000;
	display: flex;
}
.dropdown-item-text:hover {
	text-decoration: none;
	color: #fa3cbb;
}
.nav-menu{
  display: flex;
  text-decoration: none;
  color: #ee6352;
  position: relative;
}
.nav-menu:hover{
  font-size: 50px;
  transition: 0.5s;
}
.nav-menu:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;

  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}
.nav-menu:hover::after {

  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.fa{
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  font-size:30px;
  width: 32px;
  height: 32px;
  /*background: #ffd1dc;*/
  color: #40e0d0;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
}

.fa-twitter {
 font-size:30px;
  width: 32px;
  height: 32px;
  /*background: #ffd1dc;*/
  color: #40e0d0;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
}

.fa-youtube {
   font-size:30px;
  width: 32px;
  height: 32px;
  /*background: #ffd1dc;*/
  color: #40e0d0;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
}

.fa-instagram {
  font-size:30px;
  width: 32px;
  height: 32px;
  /*background: #ffd1dc;*/
  color: #40e0d0;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
}

.ImageSlider{
	align-items: center;
	max-width: 50%;
	min-width: 50%;
	display: flex;
}
.previous {
  font-size: 100px;
  color: black;
}

.next {
  font-size: 100px;
  color: black;
}

.nav-link{
   color: #F5F5F5 !important ;
   font-size: 36px;
}


/*BUTTONS THE MAKING*/

.btn-pastelPink {
  color: #fff;
  background-color: #40e0d0;
  /*border-color: #40e0d0;*/
  /*border-width: 3px*/

}
.btn-pastelPink:hover {
  color: #ffedff;
  background-color: #40e0d0;
  border-color: #F5F5F5;
  border-width: 2px;
  cursor: pointer;
}

#back-to-top-btn{
  display: none;
  position: fixed;
  top: 850px;
  left: 1800px;
  font-size:30px;
  width: 50px;
  height: 50px;
  background: #ffedff;
  color: #FB50A8;
  cursor: pointer;
  outline: none;
  border: 3px solid #ffd4ff;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: backgroud-color, color; 
}

/*BUTTONS THE MAKING*/



  /*Back to top Animation*/
  
.btnEntrance{
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/*Zooming In*/
@keyframes btnEntrance{
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }
}
.btnExit{
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}
/*Zooming Out*/
@keyframes btnExit{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

/*Back to top Animation*/

/*Main.php*/
#introduction{
  width: 100%;
  height: 100%;
  /*background-image: linear-gradient(to right, rgba(245,245,245,1), rgba(245, 245, 245,1));*/
}

#introduction .showcase-right{
  margin-top:150px;
}


#qoutes{
  background-color:  #ffd1dc !important;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:40px;
}

#qoutes p{
  font-size:32px;
  color:#000;
}

#qoutes p.writer{
  font-size:20px;
  color:#666;
}
/*Main.php*/

/*Footer.php*/
.clr{
  clear: both;
}
.footer-wrapper{
  width: 100%;
  height: auto;
  min-height: 200px;
  margin: auto;
  padding-top: 2%;
}

.footer-social-icons ul{
  margin: 0px;
  padding: 0px;
}
.footer-social-icons ul li{
  display: inline-block;
  margin-right: 2px;
  width: 50px;
  height: 50px;
}

.footer-social-icons ul li a i{
line-height: 36px;
}

.footer-mid-part{
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-section-one{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(48,213,200,.5);
  border-radius: 5px;
}
.footer-section-two{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(48,213,200,.5);
  border-radius: 5px;
}
.footer-section-three{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px 20px;
  background: rgba(48,213,200,.5);
  border-radius: 5px;
}
.footer-heading{
  width: 100%;
  height: auto;
  margin: auto;
}
.footer-heading h2{
  font-size: 18px;
  text-align: left;
  color: #F5F5F5;
  text-transform: uppercase;
  margin: 0px;
}
.footer-contact-box{
  width: 100%;
  height: auto;;
  margin: auto;
  margin-top: 13px;
}
.footer-contact-icon{
  margin-top: -3%;
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 3%;
}
.footer-contact-icon i{
  color: #ffd1dc;
  font-size: 20px;
}
.footer-contact-text{
  width: 85%;
  height: auto;
  float: left;
  margin-left: 10px;
}
.footer-contact-text p{
  font-size: 17px;
  text-align: left;
  color: #F5F5F5;
  /*cursor: pointer;*/
}
.footer-contact-text p a{
  font-size: 17px;
  text-align: left;
  color: #F5F5F5;
  text-decoration: none;

}
.footer-contact-text p:hover{
  color: #ffd1dc; 
}
.footer-contact-box:hover .footer-contact-icon i{
   color: #F5F5F5;
}
.footer-contact-box:hover .footer-contact-text p a{
  color: #ffd1dc;
}
.footer-map-container iframe{
   width:100%;
   height:220px;
   margin: auto;
   margin-top: 20px;
}
.footer-link ul{
  margin:0px;
  padding: 0px;
}
.footer-link ul li{
  list-style-type: none;
  text-align: center;
  padding-top: 5px;
}
.footer-link ul li a{
  font-size: 14px;
  color: #fa3cbb;
  text-decoration: none;
   text-transform: capitalize;;
}
.footer-link ul li a:hover{
  color: #000;
}
.footer-section-two .footer-heading h2{
  text-align: center;
}
.footer-form{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-form-box{
   width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.footer-form-style{
  width: 100%;
  height: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom:1px solid rgba(251, 80, 168,1);
  background:transparent;
  font-size: 14px;
  text-align: left;
  padding: 0px 10px;
  color: #fa3cbb;
}

.footer-form-inline input{
  /*color:#fff;*/
  font-size: 20px;
  border-bottom: 2px solid #ffd1dc !important;
  margin-right: 20px;
}
.footer-form-inline input:Focus{
  border-color: #a6a2a6;
  box-shadow:2px 2px 2px 2px #ffd1dc;
}



.footer-bottom{
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer-bottom{
  font-size: 14px;
  text-align: center;
  color: #F5F5F5;
}
/*Footer.php*/



/*NewsUpdate.php*/


/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #fff;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}


/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    /*background: #ffd1dc;*/
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2c9c90;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #40e0d0;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}



/*NewsUpdate.php*/


/*Paralax*/
  .bgimg-1, .bgimg-2, .bgimg-3, .Coffeebgimg-1, .CupcakeBG {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

body, html {
  /*height: 100%;*/
  margin: 0;
}


.bgimg-1 {
  background-image: url("Images/Chocolate/1.jpg");
  min-height: 90%;
}

.bgimg-2 {
  background-image: url("Images/Carousel/00.jpg");
  min-height: 500px;
}

.bgimg-3 {
  background-image: url("Images/Chocolate/3.jpg");
  min-height: 400px;
}

.Coffeebgimg-1 {
  background-image: url("Images/Coffee/Beverages.jpg");
  min-height: 900px;
/*  filter: blur(2px);
  -webkit-filter: blur(2px);*/
}

.CupcakeBG {
  background-image: url("Images/CupCakes/CupcakeBG.jpg");
  min-height: 900px;
/*  filter: blur(2px);
  -webkit-filter: blur(2px);*/
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
/*Paralax*/